{% extends 'core/base.html' %}
{% load i18n %}

{% block title %} Cart | {% endblock %}

{% block content %}

  <h1 class="title">{% trans "Cart" %}</h1>

  {% if cart %}
    <div class="box mb-6">
        <div class="table">
          <table class="table is-fullwitdth is-stripped">
            <thead>
              <th></th>
              <th>{% trans "Product" %}</th>
              <th>{% trans "Quantity" %}</th>
              <th>{% trans "Price" %}</th>
              <th></th>
            </thead>

            <tbody>
            {% for item in cart %}
            <tr>
              <td>
                <figure class="image is-64x64">
                  <img src="{{ item.product.get_thumbnail}}">
                </figure>
              </td>
              <td>
                <a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a>
              </td>
              <td>
                {{ item.quantity }}
                <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
              </td>
              <td>{{ item.total_price }}</td>
              <td><a href="?remove_from_cart={{ item.id }}" class="delete">{% trans "Remove" %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td><strong>{% trans "Total cost" %}</strong></td>
                <td><strong>{{ cart|length }}</strong></td>
                <td colspan="2"><strong>{{ cart.get_total_cost }}</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
    </div>

      <h2 class="subtitle">{% trans "Contact information" %}</h2>

      <form method="post" action="." id="payment-form">
          {% csrf_token %}

          {% if form.non_field_errors %}
              <div class="notification is-danger">
                  {{ form.non_field_errors}}
              </div>
          {% endif %}

          {% if form.errors %}
              <div class="notification is-danger">
                  <ul>
                      {% for field in form %}
                          {% for error in field.errors %}
                              <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                          {% endfor %}
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}

          <div class="columns">
              <div class="column is-6">
                  <div class="field">
                      <label>{% trans "First name" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="first_name">
                      </div>
                  </div>

                  <div class="field">
                      <label>{% trans "Last name" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="last_name">
                      </div>
                  </div>

                  <div class="field">
                      <label>{% trans "E-mail" %}</label>

                      <div class="control">
                          <input class="input" type="email" name="email">
                      </div>
                  </div>

                  <div class="field">
                      <label>{% trans "Phone" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="phone">
                      </div>
                  </div>
              </div>

              <div class="column is-6">
                  <div class="field">
                      <label>{% trans "Address" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="address">
                      </div>
                  </div>

                  <div class="field">
                      <label>{% trans "Zip code" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="zip_code">
                      </div>
                  </div>

                  <div class="field">
                      <label>{% trans "Place" %}</label>

                      <div class="control">
                          <input class="input" type="text" name="place">
                      </div>
                  </div>
              </div>
          </div>

          <h2 class="subtitle">{% trans "Payment information" %}</h2>

          <div id="card-element">
              <!-- A Stripe Element will be inserted here -->
          </div>

          {% if messages %}
              {% for message in messages %}
                  <div class="notification is-danger">{{ message }}</div>
              {% endfor %}
          {% endif %}

          <div class="field is-flex">
              <div class="control">
                  <button class="button is-dark mt-4 is-uppercase">{% trans " Checkout" %}</button>
              </div>
              <div class="control">
                <button type="button" class="button is-dark is-uppercase mt-4 ml-3"><a class="is-white" href="{% url 'vendor_admin' %} " style="color:inherit">{% trans "Back" %}</a></button>
            </div>
          </div>
      </form>

  {% else %}
  <p>{% trans "You don't have any products in your cart!" %}</p>
  {% endif %}
{% endblock %}

{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_pub_key }}');
    var element = stripe.elements();

    var card = element.create('card');
    card.mount('#card-element')

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function(event){
        event.preventDefault();

        stripe.createToken(card).then(function(result){
        if(result.error){
            var errorElement = document.getElementById('card-errors');
            errorElement.textContent = result.error.message;
        } else {
            stripeTokenHandler(result.token);
        }
        });
    });

    function stripeTokenHandler(token){
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripe_token');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        form.submit();
    }

</script>

{% endblock %}