{% extends 'core/base.html' %}

{% block title %} Welcome | Contact{% endblock %}

{% block content %}
<!--<h1>Contact Page</h1>-->
<!--<div class="container my-5 mt-5 mx-5 px-5 ">-->
<!--    <h2 class="title is-2 is-capitalized">Contact Us</h2>-->
<!--    <form action="" method="post">-->
<!--        <div class="field">-->
<!--            <label for="name" class="label is-size-4 has-text-weight-dark"></label>-->
<!--            <div class="control has-icons-left">-->
<!--                <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>-->
<!--                    <span class="icon is-left">-->
<!--                        <i class="fa fa-user"></i>-->
<!--                    </span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <label for="email" class="label is-size-4 has-text-weight-dark"></label>-->
<!--            <div class="control has-icons-left">-->
<!--                <input type="email" name="email" id="email" class="input" placeholder="Email">-->
<!--                    <span class="icon is-left">-->
<!--                        <i class="fa fa-envelope"></i>-->
<!--                    </span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="field">-->
<!--            <label for="message" class="label is-size-4 has-text-weight-dark"></label>-->
<!--            <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="button is-dark is-size-5">Submit</button>-->
<!--    </form>-->

<!--&lt;!&ndash;    carddd&ndash;&gt;-->
<!--    <div class="card">-->
<!--  <div class="card-content">-->
<!--    <p class="title">-->
<!--      “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”-->
<!--    </p>-->
<!--    <p class="subtitle">-->
<!--      Jeff Atwood-->
<!--    </p>-->
<!--  </div>-->
<!--  <footer class="card-footer">-->
<!--    <p class="card-footer-item">-->
<!--      <span>-->
<!--        View on <a href="#">Twitter</a>-->
<!--      </span>-->
<!--    </p>-->
<!--    <p class="card-footer-item">-->
<!--      <span>-->
<!--        Share on <a href="#">Facebook</a>-->
<!--      </span>-->
<!--    </p>-->
<!--  </footer>-->
<!--</div>-->
<!--</div>-->
<!--ssssssssssssssssssssssssssssssssssssssssssss-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/contact.css">
</head>

<body>
	<!-- END NAV -->
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						<h1 class="title is-1">Contact Us</h1>
						<p class="is-size-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
							voluptate facere molestiae consequatur.</p>
						<p class="is-size-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
							voluptate facere molestiae consequatur.</p>
						<p class="is-size-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
							voluptate facere molestiae consequatur.</p>
                        <br>
						<div class="social-media">
							<a href="#" target="_blank" class="button is-light is-large"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="#" target="_blank" class="button is-light is-large"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="#" target="_blank" class="button is-light is-large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</div>
					</div>
<!--					<div class="column is-one-third has-text-left">-->
<!--						<div class="field">-->
<!--							<label class="label">Name</label>-->
<!--							<div class="control">-->
<!--								<input class="input is-medium" type="text">-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="field">-->
<!--							<label class="label">Email</label>-->
<!--							<div class="control">-->
<!--								<input class="input is-medium" type="text">-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="field">-->
<!--							<label class="label">Message</label>-->
<!--							<div class="control">-->
<!--								<textarea class="textarea is-medium"></textarea>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="control">-->
<!--							<button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Send Message</button>-->
<!--						</div>-->
<!--					</div>-->
                    <div class="container my-5 mt-5 mx-5 px-5">
<!--                        <h2 class="title is-2 is-capitalized">Contact Us</h2>-->
                        <form action="" method="get">
                            <div class="field">
                                <label for="name" class="label is-size-4 has-text-weight-light"></label>
                                <div class="control has-icons-left">
                                    <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>
                                        <span class="icon is-left">
                                            <i class="fa fa-user"></i>
                                        </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="email" class="label is-size-4 has-text-weight-light"></label>
                                <div class="control has-icons-left">
                                    <input type="email" name="email" id="email" class="input" placeholder="Email">
                                        <span class="icon is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="message" class="label is-size-4 has-text-weight-light"></label>
                                <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="button is-dark is-size-5">Submit</button>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>

{% endblock %}
