{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
        <h2 class="is-size-3">Newest products</h2>
    </div>

    {% for product in newest_products %}
    {% include 'product/parts/list_item.html' %}
    {% endfor %}
</div>
<!--<nav class="pagination is-rounded" role="navigation" aria-label="pagination">-->
<!--  <a class="pagination-previous">Previous</a>-->
<!--  <a class="pagination-next">Next page</a>-->
<!--  <ul class="pagination-list">-->
<!--    <li><a class="pagination-link is-current" aria-current="page" aria-label="Goto page 1">1</a></li>-->
<!--    <li><span class="pagination-ellipsis">&hellip;</span></li>-->
<!--    <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>-->
<!--  </ul>-->
<!--</nav>-->
{% endblock %}