{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
<div id="product_app">
    <div class="control mb-3">
                <button type="button" class="button is-dark is-uppercase ml-3"><a class="is-white" href="/" style="color:inherit">{% trans "Back" %}</a></button>
        </div>
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img  :src="main_images.image">
        </figure>
    {% endif %}

    {% if product.images.all %}
    <hr>
    <div class="columns">
        <div class="column is-2"  v-for="image in images" :key="image.id">
            <img :src="image.thumbnail" @click="changeMainImage(image)" style="cursor: pointer;">
<!--            <img src="/media/uploads/uploads/sennh300061071b_q1_2-0.jpg">-->
            <p class="image.thumbnail">{{ image.thumbnail }}</p>
        </div>
    </div>

    {% endif %}

    <h1 class="title">{{ product.title }}</h1>
    <h1 class="title">{{ product.price}} {% trans "GEL" %}</h1>

    <p class="mb-6"><span class="tag is-dark">{% trans "Saller:" %} {{ product.vendor.name }}</span></p>

    <div class="card">
      <div class="card-content">
        <div class="content">
            <h1 class="is-3">{% trans "Product description" %}</h1><br>
            {{ product.description }}
        </div>
      </div>
    </div>

<!--    <p>{{ product.description }}</p>-->
    <hr>

    {% if messages %}
        {%  for message in messages %}
         <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input type="number" class="input" name="quantity" value="1" min="1" >
            </div>
            <div class="control">
                <button class="button is-dark is-uppercase">{% trans "Add to cart" %}</button>
            </div>
        </div>
    </form>


    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">{% trans "Similar products" %}</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ images_string|json_script:"json-imagesstring" }}
<script src="https://unpkg.com/vue@next"></script>
<script>
    const ProductApp = {
        data() {
            return {
            main_images: '',
            images: []
            }
        },
        mounted(){
        this.images = JSON.parse(JSON.parse(document.getElementById("json-imagesstring").textContent))
        console.log(this.images)
             this.main_images = this.images[0]
<!--        console.log(this.main_images)-->

        },
        methods: {
            changeMainImage(image){
                this.main_images = image;
            }
        }
    }
    Vue.createApp(ProductApp).mount('#product_app')


</script>

{% endblock %}