{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    {% if product.image %}
        <figure class="image is-4by3 mb-6">
            <img src="{{ product.image.url }}">
        </figure>
    {% endif %}

    <h1 class="title">{{ product.title }}</h1>
    <h1 class="title">{{ product.price}} {% trans "GEL" %}</h1>

    <p class="mb-6"><span class="tag is-dark">{% trans "Saller:" %} {{ product.vendor.name }}</span></p>

    <div class="card">
      <div class="card-content">
        <div class="content">
            <h1 class="is-3">{% trans "Product description" %}</h1><br>
            {{ product.description }}
        </div>
      </div>
    </div>

<!--    <p>{{ product.description }}</p>-->
    <hr>

    {% if messages %}
        {%  for message in messages %}
         <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input type="number" class="input" name="quantity" value="1" min="1" >
            </div>
            <div class="control">
                <button class="button is-dark is-uppercase">{% trans "Add to cart" %}</button>
            </div>
        </div>
    </form>


    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">{% trans "Similar products" %}</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}